Host firecracker-vsock
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    #ProxyCommand sh -c '(echo CONNECT 22; cat) | socat - UNIX-CONNECT:/var/run/firecracker/demo-alpine-3.23.3-openrc.vsock22.sock'
    ProxyCommand sh -c '(echo CONNECT 22; cat) | nc -U /var/run/firecracker/demo-alpine-3.23.3-openrc.vsock22.sock'
    User root
